{% extends "layout.html" %}
{% block title %}Flights | {{session.username}}{% endblock %}

{% block content %}

<div class="row">
	<div class="col s12">
		<h2>View Hotels</h2>
		<p class="text-align">
			Choose your Hotels
		</p>
		{% if success %}
			<h5 style="color:green">{{ success }}</h5>
		{% endif %}
		<h4 class="center-align">Hotels</h4>
		<table class="responsive-table centered">
			<thead>
				<tr>
					<th>Name</th>
					<th>Hotel Number</th>
					<th>Address</th>
					<th>City</th>
					<th>Country</th>
					<th>Hotel Rating</th>
					<th>Price</th>
					<th>Add to My Trip</th>
				</tr>
			</thead>
			<tbody>
				{% for item in items %}
				<tr>
					<td>{{ item.hotel_name }}</td>
					<td>{{ item.hotel_number }}</td>
					<td>{{ item.address }}</td>
					<td>{{ item.city }}</td>
					<td>{{ item.country }}</td>
					<td>{{ item.hotel_rating }}</td>
					<td>{{ item.price }}</td>
					<form action="/add-to-hotels/{{ loop.index }}" method="POST">
					<td><button class="btn waves-effect waves-light" type="submit" name="action">Add to Trip<i class="material-icons right">send</i></td>
					<input type="hidden" name="is_reserved" value="{% if item.timeslots %}1{% else %}0{% endif %}">
					</form>
				</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
</div>
{% endblock %}
